h3 {
    color: #e6eba6;
    background-color: #dda8f0;
}

button {
    color: magenta;
    background-color: brown;
}

p {
    color: blueviolet;
    background: aquamarine;
}

body {
    background-color: #ecf089;
}